html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.bg {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
      -ms-filter: blur(5px);
       -o-filter: blur(5px);
          filter: blur(5px);
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar {
  width: 100%;
  background: #1b9f9d;
  overflow: hidden;
  position: fixed;
  z-index: 3;
}

#pages a {
  float: left;
  text-decoration: none;
  line-height: 25px;
  padding: 15px;
  height: 25px;
  font-size: 20px;
  color: white;
  font-family: Karla;
  font-weight: 400;
}

#pages {
  padding-left: 15px;
  float: left;
}

#media i {
  float: right;
  text-decoration: none;
  line-height: 25px;
  padding: 15px;
  height: 25px;
  font-size: 20px;
  color: white;
}

#media {
  padding-right: 15px;
  float: right;
}

#gr {
  float: right;
  color: white;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  padding: 12px 15px 15px 15px;
  font-family: helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

#logo {
  height: 25px;
}
