html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Karla;
  overflow: hidden;
}

h1 {
  font-weight: 400;
  color: #343341;
  font-size: 36px;
}

h2 {
  font-weight: 400;
  color: #343341;
  font-size: 24px;
}

.intro {
  display: block;
  z-index: 1;
  position: fixed;
  text-align: center;
  margin: 5% auto;
  top: 300px; left: 0; right: 0;
}

.bg-box {
  position:absolute;
  top:    0px;
  right:  0px;
  bottom: 0px;
  left:   0px;
  z-index: -1;
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: blur(7px);
      -ms-filter: blur(7px);
       -o-filter: blur(7px);
          filter: blur(7px);
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#pic {
  display: block;
  position: absolute;
  max-width: 180px;
  height: auto;
  left:  0;
  right: 0;
  top: 15%;
  margin: 35px auto;
  border: 2px white solid;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 10px rgba(50,50,50,0.7);
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

.navbar {
  opacity: 0.9;
  top:  0;
  left: 0;
  width: 100%;
  background: #1b9f9d;
  overflow: hidden;
  position: fixed;
  z-index: 3;
  margin-bottom: 10px;
}

#media i:hover, #pages a:hover, #gr:hover, #logo:hover {
  opacity: 0.6;
}

#pages a {
  float: left;
  text-decoration: none;
  line-height: 25px;
  padding: 15px;
  height: 25px;
  font-size: 20px;
  color: white;
  font-weight: 400;
}

#pages {
  padding-left: 15px;
  float: left;
}

#media i {
  float: right;
  text-decoration: none;
  line-height: 25px;
  padding: 15px;
  height: 25px;
  font-size: 20px;
  color: white;
}

#media {
  padding-right: 15px;
  float: right;
}

#gr {
  float: right;
  color: white;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  padding: 12px 15px 15px 15px;
  font-family: helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

#logo {
  height: 25px;
}

@media only screen and (max-width: 540px) {
    #pic {
      width: 130px;
    }
    #media {
      display: none;
    }
    #intro {
      top: 50px;
      position: relative;
    }
}
