body {
  height: 100%;
  margin: 0;
  background-image: url("../images/bg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  font-family: Karla;
  overflow: auto;
}

::selection {
  background: #1b9f9d; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #1b9f9d; /* Gecko Browsers */
}

/* Grid view */
* { box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ====== for desktop ====== */
@media screen and (min-width: 960px) { 
  .id-pic { width: 190px; height: 190px; }
  .intro { margin-top: 10%; }
  .btnav { display: none; }
}

.box {
  height: 100%;
  overflow-y: auto;
  padding-top: 140px;
  padding-bottom: 60px;
}

.navbar {
  top: 0;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #1b9f9d;
  opacity: 0.9;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: 400;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(50,50,50,0.7);
}

.pages a {
  float: left;
  padding: 16px 15px 15px 15px;
  font-size: 20px;
  color: white;
}

.media i {
  float: right;
  padding: 17px 15px 15px 15px;
  font-size: 20px;
  color: white;
}

#logo { height: 42px; }
#logo-a { padding-bottom: 0; padding-top: 5px; display: inline; margin-bottom: 10px;}

.media i:hover, .btmedia i:hover, .pages a:hover, #logo:hover { opacity: 0.6; }

a { 
  text-decoration: none; 
  color: #1b9f9d;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein-card {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-card {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein-card {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ============= portfolio page =============== */
a:-webkit-any-link.project { color: #666; }

.port .btmedia i { font-size: 20px; color: #1b9f9d; }

.wrapper { 
  overflow: hidden; 
  padding: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin-top: 75px;
  margin-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: space-around;
}

.card {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 240px;
  width: 360px;
  background-color: #aaa;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(3,3,3,0.6);
  transition: 0.3s;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-animation: fadein-card 1s; /* Safari, Chrome and Opera > 12.1 */
      -ms-animation: fadein-card 1s; /* Internet Explorer */
       -o-animation: fadein-card 1s; /* Opera < 12.1 */
          animation: fadein-card 1s;
}

.card:hover {
  box-shadow: 0 5px 12px rgba(3,3,3,0.5);
  opacity: 0.75;
}

.card:active {
  height: 300px;
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
}

.card-info {
  display: none; 
  color: white;
  font-size: 1.1m;
  width: 100%;
  position: absolute;
  bottom: 44px;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 0 5px 10px 5px;
}

.ml .card-info {
  color: #274C5E;
}

.card:active .card-info {
  display: block;
}

.card-stack {
  display: none;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  opacity: 0.9;
  transition: transform 1s ease-in-out;
}

.card:hover .card-stack {
  display: block;
  opacity: 0.9;
    -webkit-animation: fadein-card 1s; /* Safari, Chrome and Opera > 12.1 */
      -ms-animation: fadein-card 1s; /* Internet Explorer */
       -o-animation: fadein-card 1s; /* Opera < 12.1 */
          animation: fadein-card 1s;
}

.devicon {
  color: white;
  font-size: 2em;
  padding: 0 5px;
  margin-top: 8px;
}

.ml .devicon {
  color: #274C5E;
}

/* ====== projects ====== */
.card.oc {
  background: url(../images/cu.jpg) no-repeat center;
  background-size: cover;
}

.card.fcc {
  background: url(../images/fcc.jpg) no-repeat center;
  background-size: cover;
}

.card.ml {
  background: url(../images/mel.png) no-repeat center;
  background-size: cover;
}

.card.cc {
  background: url(../images/cc.jpg) no-repeat center;
  background-size: cover;
}

.card.soon {
  background: url(../images/soon.jpg) no-repeat center;
  background-size: cover;
}

.card.pr {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pr-name {
  color: #eee;
  padding-top: 1em;
  font-size: 3em;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
}

span.mapbox {
  background: url(../images/mapbox.png) no-repeat center;
  background-size: cover;
  width: 50px;
  padding: 4px 18px;
  margin: 0 auto;
  filter: brightness(0) invert(1);
}

/* =================== about page =================== */
.about-container { margin-top: 120px; }

.about-card {
  height: auto;
  color: #333;
  font-size: 17px;
  width: 420px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  opacity: initial;
  background-color: rgba(200,200,200,0.3);
}

.about-card:active {
  -webkit-filter: initial; /* Safari 6.0 - 9.0 */
  filter: initial;
  height: initial;
}

.about-card:hover {
  box-shadow: 0 2px 10px rgba(3,3,3,0.6);
  opacity: 0.9;
}

p.about span {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  color: #444;
}

p.about {
  line-height: 26px;
}

/* ====== for phones ====== */
@media screen and (max-width: 520px) {
  .box { padding-top: 110px; }
  .id-pic { width: 140px; height: 140px; }
  .intro { margin-top: 10%; margin-bottom: 6%; }
  .media { display: none; }
  .pages { width: 264px; margin: 0 auto; }
  .btmedia { margin: 0 auto; width: 256px; }
  .btnav {
    left: 0; right: 0; bottom: 0;
    position: fixed;
    height: 40px;
    background-color: rgba(243,243,243,0.7);
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 400;
  }
  .btmedia i {
    padding: 10px 15px 15px 15px;
    font-size: 20px;
    color: #1b9f9d;
  }
  .container { margin-top: 60px; }
  .about-container { margin-top: 60px; }
  .fab { font-size: 50px; }
}

/* ====== for tablets ====== */
@media screen and (min-width: 521px) { 
  .id-pic { width: 160px; height: 160px; }
  .intro { margin-top: 5%; }
  .btnav { display: none; }
}