html {
  height: 100%; width: 100%;
}

body {
  margin: 0;
  background-image: url("../images/bg-s.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Karla;
}

* { /* Grid view */
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 520px) { /* For phones */
  .navbar { margin-bottom: 10%; }
  .id-pic { width: 140px; height: 140px; }
  .intro { margin-top: 10%; }
  .media { display: none; }
  .pages {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 521px) { /* For tablets */
  body { background-image: url("../images/bg.jpg") }
  .navbar { margin-bottom: 8%; }
  .id-pic { width: 160px; height: 160px; }
  .intro { margin-top: 5%; }
}

@media only screen and (min-width: 960px) { /* For desktop */
  .navbar { margin-bottom: 6%; }
  .id-pic { width: 180px; height: 180px; }
  .intro { margin-top: 5%; }
}

.navbar {
  height: 55px;
  background-color: #1b9f9d;
  opacity: 0.9;
  padding-left: 1%;
  padding-right: 1%;
  font-weight: 400;
}

.pages a {
  float: left;
  text-decoration: none;
  padding: 16px 15px 15px 15px;
  font-size: 20px;
  color: white;
}

.media i {
  float: right;
  padding: 17px 15px 15px 15px;
  font-size: 20px;
  color: white;
}

#gr {
  float: right;
  color: white;
  padding: 12px 15px 15px 15px;
  font-family: helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
}

#logo {
  height: 34px;
}

#logo-a {
  padding-bottom: 0;
  padding-top: 10px;
}

.media i:hover, .pages a:hover, #gr:hover, #logo:hover {
  opacity: 0.6;
}

.id-pic {
  margin: 0 auto;
  background-image: url("../images/id.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px white solid;
  box-shadow: 0 0 10px rgba(50,50,50,0.7);
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.intro {
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: #343341;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: #343341;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}